**/.terraform/*

# Ignore all exe and csv files
*.exe
*.csv

# Ignore all pem, tfvars, tfstate, json, etc files
*.pem
*.tfvars
*.tfstate
*.tfstate.backup
*.json
*.log

# Ignore folder
.infracost/
.terraform/
terraform/tmp/

# Unignore tf and sh files
!*.tf
!*.sh

# Explicitly include .terraform.lock.hcl
!.terraform.lock.hcl